body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   }
   
   header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
   }
   
   header h2 {
    color: #f0525f;
   }
   
   header span {
    color: #eaa03f;
   }
   
   footer {
    position: fixed;
    bottom: 0;
   }
   
   @media (max-height: 800px) {
    footer {
       position: static;
    }
    header {
       padding-top: 40px;
    }
   }
   
   .footer-distributed {
    background-color: #006994;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
   }
   
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
   }
   
   .about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
   }
   
   .about-section img {
    max-width: 50%;
    border-radius: 10px;
    margin-right: 20px;
   }
   
   .text-content {
    flex: 1;
    text-align: left;
   }
   
   .about-section h2 {
    color: #29335c; /* Main color */
   }
   
   .about-section p {
    color: #555;
    margin-bottom: 10px;
   }